*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;;
}
#main-container{
    width: 100%;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 663px;
    display: flex;
}
.text-container{
    width: 50%;
    /* height:663px; */
    /* float:left; */
    padding: 4% 7%;
    text-align: left;
}
.first-h1{
    color:black;
    padding-bottom:40px;
    padding-top: 65px;
    font-size: 50px;
}
.second-h1{
    color:black;
    padding-bottom:40px;
    font-size: 45px;
}
h3{
    color:balck;
    font-size: 15px;
}
p{
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
    padding-top: 31px;
}
button{
    padding: 11px 30px;
    color:white;
    background-image: linear-gradient(to bottom left,red,rgb(198 135 18 / 77%));
    margin-top: 25px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.pic-container{
    width: 50%;
    /* float:right; */
    /* height:663px; */
    text-aligh: center;
    /* margin: auto; */
    /* margin-right: -135px; */
    padding-left: 5%;
    padding-top: 5%;
}
.pic-container img{
    width: 80%;
    height: auto;
}